.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  /* rice by Made by Made from the Noun Project */
  background-image: url('/rice.svg');
  background-size: 2%;
}

.App-yellow-box {
    width: 10vw;
    height: 17vh;
    background: yellow;
    position: absolute;
    z-index: -1;
}

.App-red-box {
    width: 40vw;
    height: 27vh;
    background: #ed7878;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.App-header-text {
    position: absolute;
    background: black;
    width: 25vw;
    left: 5vw;
    font-size: 5rem;
    font-weight: bold;
    transition: left 1s;
}

.App-link {
  color: #61dafb;
}
