.nav-container {
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 0;
    transition: left 0.5s linear;
    background: white;
    z-index: 1;
}

.off {
    left: 100%;
}

.on {
    left: calc(100% - 20vw);
}