.price-container {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-card {
    width: 100%;
    background: white;
    color: black;
    margin: 1rem;
    height: 5rem;
}

.activity-desc {
    background: goldenrod;
}

.expense-desc {
    background: violet;
}

.price-left {
    float: left;
}

.price-right {
    float: right;
}

.price-item {
    font-weight: bold;
    font-size: 1.5rem;
}
