.worksheet-container {
    padding: 0 20%;
    margin: 10vh 0;
}

.worksheet-container button {
    display: block;
    margin: 0 auto;
}

.kana-container {
    display: inline-block;
    color: white;
    margin: 0 0.5rem;
    width: 10rem;
    height: 5rem;
}

.kana-container input {
    text-align: center;
    background: black;
    color: white;
    border: transparent;
    font-size: 2rem;
    width: 3.5rem;
    height: 2rem;
}

.kana-container p {
    font-size: 2rem;
    font-weight: bold;
}
