.price-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-card {
    width: 50%;
    background: white;
    color: black;
    margin: 1rem auto;
    height: 5rem;
    border-radius: 5px;
}

.activity-desc {
    background: goldenrod;
}

.expense-desc {
    background: violet;
}

.price-card div {
    margin: 1rem;
}

.price-left {
    float: left;
}

.price-right {
    float: right;
}

.price-item {
    font-weight: bold;
    font-size: 1.5rem;
}

.total-cost {
    font-size: 2rem;
}

.toggle {
    cursor: pointer;
}
